.userDashboardContainer {
  width: 200%;
  display: flex;
  flex-direction: row;
  position: relative;
  transform: translateX(0);
  transition: transform 0.5s ease;

  .userTable {
    width: 50%;
  }

  .userLovedMovie {
    width: 50%;
    padding-left: 15px;

    .backButton {
      width: fit-content;

      .backIcon {
        font-size: 20px;
        margin-right: 10px;
      }

      .backText {
        font-size: 20px;
        font-weight: bold;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .lovedMovieContainer {
      margin-top: 20px;

      .userName {
        font-size: 28px;
      }
    }

    .loadingIcon {
      font-size: 40px;
      position: absolute;
      left: calc(75% - 20px);
      top: calc(50% - 20px);
    }

    .lovedMovieListContainer {
      display: flex;
    }
  }
}

.expandIcon {
  font-size: 20px;
  transition: transform 0.2 ease;

  &:hover {
    cursor: pointer;
  }
}
