.layout {
  background-color: white;
}

.layoutInner {
  padding-top: 50px;
  background-color: white;
  width: 85%;
  margin: 0 auto;
}

.sider {
  background-color: black;
  color: white;
  min-height: 300px;
}

.menuParent {
  list-style: none;
  padding: 18px 0;
  border: solid 5px black;
  font-weight: bold;

  .menuItem {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rightArrow {
    font-size: 18px;
    transform: translateX(0);
    transition: transform 0.2s ease;
  }

  &:hover {
    cursor: pointer;
    background-color: white;
    color: #000;

    .rightArrow {
      transform: translateX(5px);
    }
  }
}

.container {
  padding: 0 30px;
}

.cardContent {
  min-width: 100%;
  max-width: 100%;
  border: solid 2px black;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
