.detailContainer {
  background-color: transparent;
}

.detailSider {
  background-color: transparent;
  width: 350px !important;
}

.detailContent {
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  padding-top: 20px;
  padding-left: 40px;
  position: relative;
  margin-bottom: 6px;
}

.loveContainer {
  position: absolute;
  display: block;
  right: 40px;
  top: 20px;

  .loveCounterNumber {
    font-size: 36px;
    margin-right: 10px;
    text-align: right;
  }

  .lovedContainer {
    margin-top: -5px;

    .loved {
      font-size: 14px;
      font-style: italic;
    }
  }

  .loveIcon {
    font-size: 40px;

    &:hover {
      font-size: 44px;
      cursor: pointer;
    }
  }
}

.titleContainer {
  display: flex;
}

.detailTitle {
  margin: 0 !important;
}

.linkOfficialWebsite {
  font-size: 20px;
  color: grey;
  height: fit-content;

  &:hover {
    cursor: pointer;
  }
}

.detailMovieBrief {
  color: #949494;
  font-style: italic;
}

.productionCompanies {
  margin-top: 70px;
  div {
    margin-right: 20px;
  }
}

.overviewContainer {
  margin-top: 40px;
}

.recommendation {
  margin-top: 30px;
}
