.header {
  background-color: #000;
  color: #fff;
  height: 65px;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.headerChildren {
  height: 100%;
}

.headerChildrenItem {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.headerBrand {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 24px;
  padding: 0 20px;

  a {
    color: white;
  }

  .dashboardBrand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .movOnBrand {
      color: white;
      font-size: 26px;
      line-height: 20px;
    }
    .dashboardText {
      color: white;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &:hover {
    background-color: white;
    color: black;
    cursor: pointer;

    a {
      color: black;

      .movOnBrand {
        color: black;
      }
      .dashboardText {
        color: black;
      }
    }
  }
}

.headerUser {
  background-color: transparent;
  color: #fff;
  outline: 0;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: relative;
  min-width: 156px;

  .headerUserMenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: white;
    width: 100%;
    z-index: 1;
    border-top: 4px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 14px;

    ul {
      padding: 0;
      margin-bottom: 0;

      a {
        color: black;

        li {
          list-style: none;
          line-height: 28px;
          padding: 10px 20px;
        }
        &:hover {
          li {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }

  &:hover {
    background-color: #fff;
    color: black;

    .headerUserMenu {
      display: block;
    }
  }
}

.buttonSignIn {
  background-color: transparent;
  color: #fff;
  outline: 0;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;

  &:hover {
    background-color: #fff;
    color: black;
  }
}
