.antCard {
  margin-bottom: 32px;
}

.antCard:hover {
  overflow: hidden;
  .preview {
    visibility: visible;
    top: 0;
    bottom: 5px;
  }
}

.preview {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  bottom: 5px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0%, black 100%);
  transition: top 0.1s ease-out;
}

.movieName {
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom: 10px;
  width: 100%;

  .movieNameText {
    color: white;
  }

  .movieNameText:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }
}

.love {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end;

  .loveCount {
    font-size: 24px;
    color: white;
    margin-right: 10px;
    text-align: right;
    margin-top: -5px;
  }

  .anticonHeart {
    font-size: 24px;
    color: white;
  }

  .anticonHeart:hover {
    font-size: 30px;
  }
}
