.pagination {
  display: flex;
  width: 70%;
  justify-content: center;
  margin: 30px auto 0;
  padding: 0;

  li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e3e3e3;
    border-right: 0;
    min-width: 34px;
    height: 34px;

    &:last-child {
      margin-right: 0;
      border-right: 1px solid #e3e3e3;
    }

    a {
      width: 100%;
      text-align: center;
      color: black;
    }

    &.active {
      background-color: black;

      a {
        color: white;
        font-weight: bold;

        &:hover {
          cursor: default;
        }
      }
    }

    &.previous,
    &.next {
      background-color: black;

      a {
        color: white;
        font-weight: bold;
      }
    }
  }
}
