.profileContainer {
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.alert {
  position: fixed;
  min-width: 40%;
  max-width: 40%;
  margin: 0 auto;
  top: 50px;
  left: calc(50% - 20%);
  z-index: 2;
}

.changePasswordTopButton {
  position: absolute;
  right: 30px;
  top: 20px;
  background-color: black !important;
  color: white !important;
  border: solid 2px black;
  font-weight: bold;
  outline: 0;
  --antd-wave-shadow-color: black;

  &:active,
  &:focus,
  &:hover {
    border: solid 2px black;
    outline: 0;
    --antd-wave-shadow-color: black;
  }
}

.userNameText {
  margin-bottom: 0 !important;
  max-width: 60%;
}

.editIcon {
  font-size: 18px;

  &:hover {
    cursor: pointer;
  }
}

.changeNameContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  input {
    max-width: 250px;
    margin-right: 10px;
    border: solid 2px black;
    outline: 0;
    box-sizing: border-box;
    box-shadow: none;

    &:hover,
    &:active,
    &:focus {
      border: solid 2px black;
      outline: 0;
      box-sizing: border-box;
      border-right-width: 2px !important;
    }
  }

  .changeNameDoneIcon {
    font-size: 30px;

    &:hover {
      cursor: pointer;
      font-size: 36px;
    }
  }
}

.emailText {
  font-style: italic;
  color: grey;
}

.changePasswordOuter {
  border-top: solid 5px black;
  margin-top: 20px;
  position: relative;
  transition: height 0.1s linear;
  overflow: hidden;
  box-sizing: border-box;

  .changePasswordContainer {
    width: 200px;
    margin: 10px auto;
  }

  .inputPassword {
    border: solid 2px black;
    outline: 0;
    box-shadow: none;
    border-right-width: 2px !important;

    span {
      color: black;
    }

    &:hover,
    &:focus,
    &:active {
      outline: 0;
      border: solid 2px black !important;
      border-right-width: 2px !important;
    }
  }

  .inputPassword:nth-child(1) {
    margin-bottom: 10px;
  }

  .changePasswordButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    .cancelButton {
      background-color: white !important;
      color: black !important;
      border: solid 2px black;
      font-weight: bold;
    }

    .submitButton {
      background-color: black !important;
      color: white !important;
      border: solid 2px black;
      font-weight: bold;
    }
  }
}

.lovedMovie {
  margin-top: 30px;

  .seeMorePlaceholder {
    display: flex;
    height: 209px;
    background-color: grey;
    justify-content: center;
    align-items: center;

    .seeMoreText {
      color: white;
      font-size: 16px;
      font-weight: bold;
    }

    &:hover {
      cursor: pointer;
      background-color: darken($color: grey, $amount: 8);
    }
  }
}
