.card {
  width: 30%;
  margin: 100px auto 0;
}

.input {
  border: solid 2px black;
  outline: 0;
  box-shadow: none;
  border-right-width: 2px !important;

  span {
    color: black;
  }

  &:hover,
  &:focus,
  &:active {
    outline: 0;
    border: solid 2px black !important;
    border-right-width: 2px !important;
  }
}

.submitButton {
  width: 100%;
  background-color: black;

  &:disabled {
    background-color: inherit;
    color: inherit;
    border-color: inherit;
  }

  &:focus {
    background-color: black;
    color: white;
  }

  &:hover,
  &:active {
    background-color: white !important;
    color: black !important;
    border-color: black !important;
  }
}

.signInContainer {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.errorAlert {
  position: absolute;
  top: 30px;
  width: 100%;
}
