.card {
  width: 30%;
  margin: 200px auto 0;
}

.headStyle {
  background-color: black;
  color: white;
}

.submitContainer {
  div {
    display: flex;
    justify-content: center;
  }
}

.submitButton {
  width: 100%;
  background-color: black;
  color: white;
  border: solid 2px black;

  &:disabled {
    background-color: inherit;
    color: inherit;
    border-color: inherit;
  }

  &:focus {
    background-color: black;
    color: white;
  }

  &:hover,
  &:active {
    background-color: white !important;
    color: black !important;
    border-color: black !important;
  }
}

.signUpContainer {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.errorAlert {
  position: absolute;
  top: 30px;
  width: 100%;
}
